In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=(
    SparkSession.builder.appName("SparkIntroduction").getOrCreate())

In [2]:
df_data=spark.read.csv("Admin_data.csv",header=True,inferSchema=True,mode="DROPMALFORMED")
df_data.show()

+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
|     Start_time|       End_time|    Name|    Mobile|Age|Pin-Codes|           Source|Vaccine_cus|    Destination|Miles|Est_Costing|Ride_category|        Purpose| temp|clouds|pressure|humidity| wind|accquire_vehi|free_vehi|Lattitute|Longitude|locationID|rating_cus|Riders_Name|Riders_contact|Trusted_Contact|Rating_RI|Vaccine_Ri|Payment_mode|Discount|Final_cost|   Status|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|   318886|      Fort Pierce|        YES|    Fort Pierce|  5.1|      49.98|         Bike| Meal/Entertain|42.42|   1.0| 1012.14|    0.77|11.25|           26|       17|   40.769| -73.9549|       141|         3|    Johanna|    9181026109|            YES|      3.6|       YES|        Gpay|      0%|     49.98|Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.8|      47.04|         Bike|Errand/Supplies|42.43|   1.0| 1012.15|    0.76|11.32|           45|       24|  40.7267| -74.0345|        65|         4|    Charlot|    9855403124|            YES|      4.5|       YES|      Phonpe|      0%|     47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.7|      46.06|         Bike|        Meeting| 42.5|   1.0| 1012.15|    0.76|11.07|          731|       36|  40.7316| -73.9873|       100|         5|      Cissy|    9328907059|            YES|      4.8|       YES|       Paytm|      0%|     46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|   318886|      Fort Pierce|        YES|West Palm Beach| 63.7|     624.26|         Bike| Customer Visit|42.11|   1.0| 1012.13|    0.77|11.09|           10|        9|  40.7588| -73.9776|        80|         2|     Luelle|    9774674359|             NO|      4.9|       YES| Uber wallet|     10%|   561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|   475241|  West Palm Beach|         NO|West Palm Beach|  4.3|      42.14|         Bike| Meal/Entertain|43.13|   1.0| 1012.14|    0.75|11.49|          814|       62|  40.7594| -73.9722|        90|         3|      Myrle|    9425892986|             NO|      5.0|        NO|        cash|      0%|     42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|   475241|  West Palm Beach|        YES|     Palm Beach|  7.1|      69.58|         Bike|        Meeting|42.34|   1.0| 1012.15|    0.77|11.49|          220|       46|  40.7383| -74.0403|       228|         4|     Duncan|    9611855033|            YES|      3.0|       YES| Uber wallet|     10%|    62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|   265814|             Cary|        YES|           Cary|  0.8|       7.84|         Bike|        Meeting|42.36|   1.0| 1012.15|    0.77|11.46|           36|       28|  40.7223| -73.9887|         7|         5|     Carine|    9700998304|            YES|      3.6|       YES| Uber wallet|     10%|     7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|   265814|             Cary|        YES|    Morrisville|  8.3|      81.34|         Bike|        Meeting|42.21|   1.0| 1012.16|    0.77|11.37|         1137|      106|   40.762|  -73.979|        74|         5|   Collette|    9212537431|            YES|      3.9|       YES| Uber wallet|     10%|    73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|   386077|          Jamaica|        YES|       New York| 16.5|      161.7|         Bike| Customer Visit|42.07|   1.0| 1012.12|    0.78|11.28|          236|      103|  40.7524|  -73.996|       249|         5|     Killie|    9426616674|             NO|      4.2|       YES| Uber wallet|     10%|    145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|   125733|         New York|         NO|         Queens| 10.8|     105.84|         Bike|        Meeting|43.05|   1.0| 1012.12|    0.75|11.58|           47|       29|  40.7575| -73.9846|        22|         4|    Ellette|    8949025277|             NO|      4.8|        NO|        cash|      0%|    105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|   646882|         Elmhurst|        YES|       New York|  7.5|       73.5|         Bike|        Meeting|42.09|   1.0| 1012.13|    0.78|11.41|         1792|      119|  40.7256| -73.9869|       263|         4|      Amara|    9247349792|            YES|      3.6|       YES|        Gpay|      0%|      73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|   625132|          Midtown|        YES|    East Harlem|  6.2|      60.76|         Bike|        Meeting|43.28|  0.81|  990.81|    0.71|  8.3|           23|       13|  40.7591| -73.9684|        61|         3|     Ashlee|    9332965757|            YES|      4.5|       YES|        Gpay|      0%|     60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|   210314|      East Harlem|        YES|          NoMad|  6.4|      62.72|         Bike| Temporary Site|43.27|   0.8|   990.8|    0.71|  8.3|           83|       20|  40.7271| -73.9803|       229|         3|        Kim|    9267421665|            YES|      4.8|       YES|      Phonpe|      0%|     62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|   484320|Flatiron District|        YES|        Midtown|  1.6|      15.68|         Bike|Errand/Supplies|43.35|  0.82|  990.82|    0.71| 8.24|         1846|       86|  40.6463| -73.7896|       164|         5|      Jacky|    9472034451|             NO|      4.9|       YES|       Paytm|      0%|     15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|   625132|          Midtown|         NO|   Midtown East|  1.7|      16.66|         Bike| Meal/Entertain|43.07|  0.82|  990.82|    0.72| 8.28|           57|       39|  40.7564| -73.9167|       237|         5|     Mikkel|    9117822322|             NO|      5.0|        NO| Uber wallet|     10%|    14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|   491563|     Midtown East|        YES|        Midtown|  1.9|      18.62|         Bike| Meal/Entertain|43.35|   0.8|   990.8|    0.71| 8.35|            9|        8|  40.7666| -73.9531|       142|         4|       Geri|    9738692778|            YES|      3.0|       YES|        cash|      0%|     18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|   625132|          Midtown|        YES|  Hudson Square|  1.9|      18.62|         Bike| Meal/Entertain| 43.2|   0.8|  990.79|    0.71| 8.31|            4|        2|   40.758| -73.9761|       188|         5|  Stanislas|    9564616492|            YES|      3.6|       YES| Uber wallet|     10%|    16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|   509117|    Hudson Square|        YES|Lower Manhattan|  4.0|       39.2|         Bike| Meal/Entertain|43.24|   0.8|  990.79|    0.71| 8.32|           81|       37|  40.7238| -73.9821|       237|         5|       Yvon|    9985025265|            YES|      3.9|       YES| Uber wallet|     10%|     35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|   223672|  Lower Manhattan|        YES|  Hudson Square|  1.8|      17.64|         Bike|Errand/Supplies|41.95|  0.81|  991.63|    0.73|10.87|         1765|      579|  40.7531| -74.0039|       224|         5|      Jaine|    9593730071|             NO|      4.2|       YES| Uber wallet|     10%|    15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|   318886|      Fort Pierce|         NO| Hell's Kitchen|  2.4|      23.52|         Bike| Customer Visit|43.05|  0.81|  990.82|    0.72| 8.31|          766|       65|  40.7389| -74.0393|       238|         5|       Abbi|    9652057745|             NO|      4.8|        NO| Uber wallet|     10%|    21.168| Assigned|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
only showing top 20 rows

In [3]:
df1_data=spark.read.csv("Customer_table.csv",header=True,inferSchema=True,mode="DROPMALFORMED")
df1_data.show()

+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
|Pickup DateTime|  Drop DateTime|Driver Name|Driver Phone Number|Trip Distance|Trip ID|  Pickup Location|  Drop Location|Trip Duration|Trip Fare|Vehicle Type|   Trip Purpose|Passenger Name|Passenger Phone Number|Scheduled|Passenger Rating|Driver Rated|Payment Method|Payment Discount|Net Fare|Trip Status|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
| 1/1/2016 21:11| 1/1/2016 21:17|     Almire|         9298608912|           21| 318886|      Fort Pierce|    Fort Pierce|          5.1|    49.98|        Bike| Meal/Entertain|       Johanna|            9181026109|      YES|             3.6|         YES|          Gpay|              0%|   49.98|  Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38|    Frazier|         8621617385|           27| 318886|      Fort Pierce|    Fort Pierce|          4.8|    47.04|        Bike|Errand/Supplies|       Charlot|            9855403124|      YES|             4.5|         YES|        Phonpe|              0%|   47.04|    Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|     Editha|         9954004976|           20| 318886|      Fort Pierce|    Fort Pierce|          4.7|    46.06|        Bike|        Meeting|         Cissy|            9328907059|      YES|             4.8|         YES|         Paytm|              0%|   46.06|   Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|      Deeyn|         9885727873|           34| 318886|      Fort Pierce|West Palm Beach|         63.7|   624.26|        Bike| Customer Visit|        Luelle|            9774674359|       NO|             4.9|         YES|   Uber wallet|             10%| 561.834|   Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|     Correy|         9661756645|           28| 475241|  West Palm Beach|West Palm Beach|          4.3|    42.14|        Bike| Meal/Entertain|         Myrle|            9425892986|       NO|             5.0|          NO|          cash|              0%|   42.14|   Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|      Bryan|         8721880095|           50| 475241|  West Palm Beach|     Palm Beach|          7.1|    69.58|        Bike|        Meeting|        Duncan|            9611855033|      YES|             3.0|         YES|   Uber wallet|             10%|  76.538|    Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|     Crissy|         8579258893|           68| 265814|             Cary|           Cary|          0.8|     7.84|        Bike|        Meeting|        Carine|            9700998304|      YES|             3.6|         YES|   Uber wallet|             10%|   8.624|   Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|     Kendre|         8900099665|           31| 265814|             Cary|    Morrisville|          8.3|    81.34|        Bike|        Meeting|      Collette|            9212537431|      YES|             3.9|         YES|   Uber wallet|             10%|  89.474|   Assigned|
|1/10/2016 12:17|1/10/2016 12:44|      Aymer|         9918333307|           47| 386077|          Jamaica|       New York|         16.5|    161.7|        Bike| Customer Visit|        Killie|            9426616674|       NO|             4.2|         YES|   Uber wallet|             10%|  177.87|    Arrived|
|1/10/2016 15:08|1/10/2016 15:51|     Gabbey|         9050095157|           59| 125733|         New York|         Queens|         10.8|   105.84|        Bike|        Meeting|       Ellette|            8949025277|       NO|             4.8|          NO|          cash|              0%|  105.84|   Assigned|
|1/10/2016 18:18|1/10/2016 18:53|      Cammi|         7884885405|           19| 646882|         Elmhurst|       New York|          7.5|     73.5|        Bike|        Meeting|         Amara|            9247349792|      YES|             3.6|         YES|          Gpay|              0%|    73.5|   Assigned|
|1/10/2016 19:12|1/10/2016 19:32|    Carlyle|         8333928562|           22| 625132|          Midtown|    East Harlem|          6.2|    60.76|        Bike|        Meeting|        Ashlee|            9332965757|      YES|             4.5|         YES|          Gpay|              0%|   60.76|    Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|   Zedekiah|         8283676665|           74| 210314|      East Harlem|          NoMad|          6.4|    62.72|        Bike| Temporary Site|           Kim|            9267421665|      YES|             4.8|         YES|        Phonpe|              0%|   62.72|   Assigned|
|1/11/2016 11:56|1/11/2016 12:03|      Sioux|         8362408033|           75| 484320|Flatiron District|        Midtown|          1.6|    15.68|        Bike|Errand/Supplies|         Jacky|            9472034451|       NO|             4.9|         YES|         Paytm|              0%|   15.68|    Arrived|
|1/11/2016 13:32|1/11/2016 13:46|    Mathian|         9734846586|           62| 625132|          Midtown|   Midtown East|          1.7|    16.66|        Bike| Meal/Entertain|        Mikkel|            9117822322|       NO|             5.0|          NO|   Uber wallet|             10%|  14.994|    Arrived|
|1/11/2016 14:30|1/11/2016 14:43|     Maggie|         7951534876|           36| 491563|     Midtown East|        Midtown|          1.9|    18.62|        Bike| Meal/Entertain|          Geri|            9738692778|      YES|             3.0|         YES|          cash|              0%|   18.62|    Arrived|
|1/12/2016 12:33|1/12/2016 12:49|    Maurice|         7932768286|           40| 625132|          Midtown|  Hudson Square|          1.9|    18.62|        Bike| Meal/Entertain|     Stanislas|            9564616492|      YES|             3.6|         YES|   Uber wallet|             10%|  20.482|   Assigned|
|1/12/2016 12:53|1/12/2016 13:09|       Timi|         9323566102|           35| 509117|    Hudson Square|Lower Manhattan|          4.0|     39.2|        Bike| Meal/Entertain|          Yvon|            9985025265|      YES|             3.9|         YES|   Uber wallet|             10%|   43.12|    Arrived|
|1/12/2016 14:42|1/12/2016 14:56|      Janey|         8572258661|           55| 223672|  Lower Manhattan|  Hudson Square|          1.8|    17.64|        Bike|Errand/Supplies|         Jaine|            9593730071|       NO|             4.2|         YES|   Uber wallet|             10%|  19.404|   Assigned|
|1/12/2016 15:13|1/12/2016 15:28|    Huntlee|         9974250697|           32| 318886|      Fort Pierce| Hell's Kitchen|          2.4|    23.52|        Bike| Customer Visit|          Abbi|            9652057745|       NO|             4.8|          NO|   Uber wallet|             10%|  25.872|   Assigned|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
only showing top 20 rows

In [4]:
df2_data=spark.read.csv("Riders_data.csv",header=True,inferSchema=True,mode="DROPMALFORMED")
df2_data.show()

+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|318886|     Fort Pierce6|   Fort Pierce7| 5.1|49.989|Bike|  Johanna|9181026109|  3|141|YES15|YES16|       Gpay| 0%|49.9819|Cancelled|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|318886|      Fort Pierce|    Fort Pierce| 4.8| 47.04|Bike|  Charlot|9855403124|  4| 65|  YES|  YES|     Phonpe| 0%|  47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|318886|      Fort Pierce|    Fort Pierce| 4.7| 46.06|Bike|    Cissy|9328907059|  5|100|  YES|  YES|      Paytm| 0%|  46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|318886|      Fort Pierce|West Palm Beach|63.7|624.26|Bike|   Luelle|9774674359|  2| 80|   NO|  YES|Uber wallet|10%|561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|475241|  West Palm Beach|West Palm Beach| 4.3| 42.14|Bike|    Myrle|9425892986|  3| 90|   NO|   NO|       cash| 0%|  42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|475241|  West Palm Beach|     Palm Beach| 7.1| 69.58|Bike|   Duncan|9611855033|  4|228|  YES|  YES|Uber wallet|10%| 62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|265814|             Cary|           Cary| 0.8|  7.84|Bike|   Carine|9700998304|  5|  7|  YES|  YES|Uber wallet|10%|  7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|265814|             Cary|    Morrisville| 8.3| 81.34|Bike| Collette|9212537431|  5| 74|  YES|  YES|Uber wallet|10%| 73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|386077|          Jamaica|       New York|16.5| 161.7|Bike|   Killie|9426616674|  5|249|   NO|  YES|Uber wallet|10%| 145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|125733|         New York|         Queens|10.8|105.84|Bike|  Ellette|8949025277|  4| 22|   NO|   NO|       cash| 0%| 105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|646882|         Elmhurst|       New York| 7.5|  73.5|Bike|    Amara|9247349792|  4|263|  YES|  YES|       Gpay| 0%|   73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|625132|          Midtown|    East Harlem| 6.2| 60.76|Bike|   Ashlee|9332965757|  3| 61|  YES|  YES|       Gpay| 0%|  60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|210314|      East Harlem|          NoMad| 6.4| 62.72|Bike|      Kim|9267421665|  3|229|  YES|  YES|     Phonpe| 0%|  62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|484320|Flatiron District|        Midtown| 1.6| 15.68|Bike|    Jacky|9472034451|  5|164|   NO|  YES|      Paytm| 0%|  15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|625132|          Midtown|   Midtown East| 1.7| 16.66|Bike|   Mikkel|9117822322|  5|237|   NO|   NO|Uber wallet|10%| 14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|491563|     Midtown East|        Midtown| 1.9| 18.62|Bike|     Geri|9738692778|  4|142|  YES|  YES|       cash| 0%|  18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|625132|          Midtown|  Hudson Square| 1.9| 18.62|Bike|Stanislas|9564616492|  5|188|  YES|  YES|Uber wallet|10%| 16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|509117|    Hudson Square|Lower Manhattan| 4.0|  39.2|Bike|     Yvon|9985025265|  5|237|  YES|  YES|Uber wallet|10%|  35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|223672|  Lower Manhattan|  Hudson Square| 1.8| 17.64|Bike|    Jaine|9593730071|  5|224|   NO|  YES|Uber wallet|10%| 15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|318886|      Fort Pierce| Hell's Kitchen| 2.4| 23.52|Bike|     Abbi|9652057745|  5|238|   NO|   NO|Uber wallet|10%| 21.168| Assigned|
|1/12/2016 15:42|1/12/2016 15:54|  Evania|9370194252| 66|318886|      Fort Pierce|        Midtown| 2.0|  19.6|Bike|     Mair|9111821429|  5|242|  YES|  YES|       cash| 0%|   19.6|Cancelled|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
only showing top 20 rows

In [5]:
df_data.count()

500

In [6]:
df1_data.count()

500

In [7]:
df2_data.count()

499

In [8]:
df_data.printSchema()

root
 |-- Start_time: string (nullable = true)
 |-- End_time: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Mobile: long (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Pin-Codes: integer (nullable = true)
 |-- Source: string (nullable = true)
 |-- Vaccine_cus: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Miles: double (nullable = true)
 |-- Est_Costing: double (nullable = true)
 |-- Ride_category: string (nullable = true)
 |-- Purpose: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- clouds: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- wind: double (nullable = true)
 |-- accquire_vehi: integer (nullable = true)
 |-- free_vehi: string (nullable = true)
 |-- Lattitute: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- locationID: integer (nullable = true)
 |-- rating_cus: integer (nullable = true)
 |-- Riders_Name: string (nullable = true)
 |-- Riders_contact: long (nullable = true)
 |-- Trusted_Contact: string (nullable = true)
 |-- Rating_RI: double (nullable = true)
 |-- Vaccine_Ri: string (nullable = true)
 |-- Payment_mode: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Final_cost: double (nullable = true)
 |-- Status: string (nullable = true)

In [9]:
df1_data.printSchema()

root
 |-- Pickup DateTime: string (nullable = true)
 |-- Drop DateTime: string (nullable = true)
 |-- Driver Name: string (nullable = true)
 |-- Driver Phone Number: long (nullable = true)
 |-- Trip Distance: integer (nullable = true)
 |-- Trip ID: integer (nullable = true)
 |-- Pickup Location: string (nullable = true)
 |-- Drop Location: string (nullable = true)
 |-- Trip Duration: double (nullable = true)
 |-- Trip Fare: double (nullable = true)
 |-- Vehicle Type: string (nullable = true)
 |-- Trip Purpose: string (nullable = true)
 |-- Passenger Name: string (nullable = true)
 |-- Passenger Phone Number: long (nullable = true)
 |-- Scheduled: string (nullable = true)
 |-- Passenger Rating: double (nullable = true)
 |-- Driver Rated: string (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Payment Discount: string (nullable = true)
 |-- Net Fare: double (nullable = true)
 |-- Trip Status: string (nullable = true)

In [10]:
df2_data.printSchema()

root
 |-- 1/1/2016 21:11: string (nullable = true)
 |-- 1/1/2016 21:17: string (nullable = true)
 |-- Almire: string (nullable = true)
 |-- 9298608912: long (nullable = true)
 |-- 21: integer (nullable = true)
 |-- 318886: integer (nullable = true)
 |-- Fort Pierce6: string (nullable = true)
 |-- Fort Pierce7: string (nullable = true)
 |-- 5.1: double (nullable = true)
 |-- 49.989: double (nullable = true)
 |-- Bike: string (nullable = true)
 |-- Johanna: string (nullable = true)
 |-- 9181026109: long (nullable = true)
 |-- 3: integer (nullable = true)
 |-- 141: integer (nullable = true)
 |-- YES15: string (nullable = true)
 |-- YES16: string (nullable = true)
 |-- Gpay: string (nullable = true)
 |-- 0%: string (nullable = true)
 |-- 49.9819: double (nullable = true)
 |-- Cancelled: string (nullable = true)

1.USE CASE
How many no of customers take trip from same location.

In [11]:
from pyspark.sql.functions import count
customer_counts = df1_data.groupBy("Pickup Location").agg(count("Passenger Name").alias("Total_Customers")).orderBy("Total_Customers", ascending=False)
customer_counts.show()
customer_counts.count()

+-----------------+---------------+
|  Pickup Location|Total_Customers|
+-----------------+---------------+
|      Fort Pierce|            108|
|          Midtown|             78|
|  West Palm Beach|             54|
|             Cary|             52|
|  Lower Manhattan|             26|
|     Midtown East|             26|
|Flatiron District|             26|
|      East Harlem|             26|
|    Hudson Square|             26|
|          Jamaica|             26|
|         New York|             26|
|         Elmhurst|             26|
+-----------------+---------------+

12

3.USECASE
what are the longest locations of customer travelled.

In [12]:
from pyspark.sql.functions import col
longest_trips = df1_data.orderBy(col("Trip Distance").desc()).select("Pickup Location", "Drop Location", "Trip Distance")
longest_trips.show()
longest_trips.count()

+---------------+----------------+-------------+
|Pickup Location|   Drop Location|Trip Distance|
+---------------+----------------+-------------+
|    Fort Pierce|            Cary|           80|
|    East Harlem|     Whitebridge|           80|
|   Midtown East|          Durham|           80|
|       Elmhurst|            Cary|           80|
|           Cary|     Whitebridge|           80|
|West Palm Beach|         Houston|           80|
|    Fort Pierce|      Tanglewood|           80|
|Lower Manhattan|     Morrisville|           80|
|       New York|            Cary|           79|
|    Fort Pierce|       Kissimmee|           79|
|    Fort Pierce|            Cary|           79|
|    Fort Pierce|    Port Bolivar|           79|
|West Palm Beach|         Midtown|           79|
|        Jamaica|       Kissimmee|           79|
|        Midtown|            Cary|           79|
|West Palm Beach|     Whitebridge|           79|
|West Palm Beach|         Houston|           78|
|  Hudson Square|            Apex|           78|
|           Cary|Unknown Location|           78|
|Lower Manhattan|Unknown Location|           78|
+---------------+----------------+-------------+
only showing top 20 rows

500

2.USECASE
what is priority for each ride category from each location

In [13]:
ride_priority = df_data.groupBy("Source", "Ride_category").agg(count("*").alias("Total_Rides")).orderBy(col("Source"), col("Total_Rides").desc())
ride_priority.show(5)

+------+-------------+-----------+
|Source|Ride_category|Total_Rides|
+------+-------------+-----------+
|  Cary|         Auto|         12|
|  Cary|        Prime|         12|
|  Cary|    Uber-Mini|         12|
|  Cary|   Uber-Micro|          8|
|  Cary|         Bike|          8|
+------+-------------+-----------+
only showing top 5 rows

In [14]:
ride_priority.count()

60

8.USECASE
who is the driver completed highest no of rides.

In [15]:
ride_highest=df1_data.groupBy("Driver Name").agg(count("*").alias("highest_ride")).orderBy(col("highest_ride").desc())
ride_highest.show(1)

+-----------+------------+
|Driver Name|highest_ride|
+-----------+------------+
|    Mathian|           2|
+-----------+------------+
only showing top 1 row

7.USECASE
who is the customer completed highest no of rides.

In [16]:
ride_highest=df1_data.groupBy("passenger Name").agg(count("*").alias("highest_ride")).orderBy(col("highest_ride").desc())
ride_highest.show(1)

+--------------+------------+
|passenger Name|highest_ride|
+--------------+------------+
|          Cher|          10|
+--------------+------------+
only showing top 1 row

4.USECASE
Drivers who completed ride with non-vaccinated customers.

In [17]:
non_vaccinated = df_data.filter(df_data.Vaccine_cus=="NO").select("Name","Age")
non_vaccinated.show(5)

+-------+---+
|   Name|Age|
+-------+---+
| Correy| 28|
| Gabbey| 59|
|Mathian| 62|
|Huntlee| 32|
|   Clim| 78|
+-------+---+
only showing top 5 rows

In [18]:
non_vaccinated.count()

100

5.USECASE How many vaccinated customers have travelled.

In [19]:
vacc_cus=df_data.filter(df_data.Vaccine_cus=="YES").select("Name","Age")
vacc_cus.show(5)

+-------+---+
|   Name|Age|
+-------+---+
| Almire| 21|
|Frazier| 27|
| Editha| 20|
|  Deeyn| 34|
|  Bryan| 50|
+-------+---+
only showing top 5 rows

In [20]:
vacc_cus.count()

400

6.Customers who completed ride with non-vaccinated Drivers.

In [21]:
nonvacc_rider=df_data.filter(df_data.Vaccine_Ri=="NO").select("Riders_Name","Riders_Contact")
nonvacc_rider.show(5)

+-----------+--------------+
|Riders_Name|Riders_Contact|
+-----------+--------------+
|      Myrle|    9425892986|
|    Ellette|    8949025277|
|     Mikkel|    9117822322|
|       Abbi|    9652057745|
|       Dora|    9878699673|
+-----------+--------------+
only showing top 5 rows

In [22]:
nonvacc_rider.count()

100

10.USECASE : what is the count of different destination locations from same start location and also completed ride

In [23]:
completed_ride=df1_data.select("*").where((col("Pickup Location")!=col("Drop Location"))& (col("Trip Status")=="Arrived"))
completed_ride.show(10)
completed_ride.count()

+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
|Pickup DateTime|  Drop DateTime|Driver Name|Driver Phone Number|Trip Distance|Trip ID|  Pickup Location|  Drop Location|Trip Duration|Trip Fare|Vehicle Type|   Trip Purpose|Passenger Name|Passenger Phone Number|Scheduled|Passenger Rating|Driver Rated|Payment Method|Payment Discount|Net Fare|Trip Status|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
| 1/6/2016 17:30| 1/6/2016 17:35|      Bryan|         8721880095|           50| 475241|  West Palm Beach|     Palm Beach|          7.1|    69.58|        Bike|        Meeting|        Duncan|            9611855033|      YES|             3.0|         YES|   Uber wallet|             10%|  76.538|    Arrived|
|1/10/2016 12:17|1/10/2016 12:44|      Aymer|         9918333307|           47| 386077|          Jamaica|       New York|         16.5|    161.7|        Bike| Customer Visit|        Killie|            9426616674|       NO|             4.2|         YES|   Uber wallet|             10%|  177.87|    Arrived|
|1/10/2016 19:12|1/10/2016 19:32|    Carlyle|         8333928562|           22| 625132|          Midtown|    East Harlem|          6.2|    60.76|        Bike|        Meeting|        Ashlee|            9332965757|      YES|             4.5|         YES|          Gpay|              0%|   60.76|    Arrived|
|1/11/2016 11:56|1/11/2016 12:03|      Sioux|         8362408033|           75| 484320|Flatiron District|        Midtown|          1.6|    15.68|        Bike|Errand/Supplies|         Jacky|            9472034451|       NO|             4.9|         YES|         Paytm|              0%|   15.68|    Arrived|
|1/11/2016 13:32|1/11/2016 13:46|    Mathian|         9734846586|           62| 625132|          Midtown|   Midtown East|          1.7|    16.66|        Bike| Meal/Entertain|        Mikkel|            9117822322|       NO|             5.0|          NO|   Uber wallet|             10%|  14.994|    Arrived|
|1/11/2016 14:30|1/11/2016 14:43|     Maggie|         7951534876|           36| 491563|     Midtown East|        Midtown|          1.9|    18.62|        Bike| Meal/Entertain|          Geri|            9738692778|      YES|             3.0|         YES|          cash|              0%|   18.62|    Arrived|
|1/12/2016 12:53|1/12/2016 13:09|       Timi|         9323566102|           35| 509117|    Hudson Square|Lower Manhattan|          4.0|     39.2|        Bike| Meal/Entertain|          Yvon|            9985025265|      YES|             3.9|         YES|   Uber wallet|             10%|   43.12|    Arrived|
|1/12/2016 16:02|1/12/2016 17:00|      Mayne|         9557445925|           50| 318886|      Fort Pierce|  Queens County|         15.1|   147.98|        Bike|        Meeting|       Teriann|            9115587792|      YES|             4.5|         YES|          Gpay|              0%|  147.98|    Arrived|
|1/13/2016 13:54|1/13/2016 14:07|       Iain|         9313837934|           35| 318886|      Fort Pierce|        Gulfton|         11.2|   109.76|        Bike|        Meeting|       Carmine|            9904076761|      YES|             4.8|         YES|          Gpay|              0%|  109.76|    Arrived|
|1/13/2016 15:00|1/13/2016 15:28|      Moore|         8692496691|           33| 475241|  West Palm Beach|       Downtown|         11.8|   115.64|        Bike|        Meeting|         Margi|            9843393882|       NO|             4.9|         YES|        Phonpe|              0%|  115.64|    Arrived|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
only showing top 10 rows

217

In [24]:
diff_destination=completed_ride.groupBy("Pickup Location").agg(count("Drop Location").alias("unique_destination"))
diff_destination.show(10)

+-----------------+------------------+
|  Pickup Location|unique_destination|
+-----------------+------------------+
|      Fort Pierce|                47|
|  Lower Manhattan|                 9|
|          Midtown|                36|
|     Midtown East|                16|
|Flatiron District|                15|
|      East Harlem|                10|
|    Hudson Square|                 9|
|  West Palm Beach|                30|
|          Jamaica|                12|
|             Cary|                17|
+-----------------+------------------+
only showing top 10 rows

In [25]:
diff_destination.count()

12

11.USECASE what is the most expensive Drive.

In [29]:
expn_drive=df1_data.select("Pickup Location","Drop Location","Trip Fare").where(col("Pickup Location")!=col("Drop Location")).orderBy(col("Trip Fare").desc()) 
expn_drive.show(10)

+-----------------+----------------+---------+
|  Pickup Location|   Drop Location|Trip Fare|
+-----------------+----------------+---------+
|      Fort Pierce|            Katy|   3400.0|
|      Fort Pierce|    Jacksonville|  3040.94|
|          Midtown|       Ridgeland|   2613.0|
|Flatiron District|            Cary|   2389.5|
|      East Harlem|        Florence|   2160.0|
|      Fort Pierce|       Kissimmee|   1969.8|
|      Fort Pierce|         Houston|   1710.0|
|      Fort Pierce|           Latta|   1411.2|
|             Cary|Unknown Location|   1311.0|
|         Elmhurst|    Jacksonville|   1207.5|
+-----------------+----------------+---------+
only showing top 10 rows

In [30]:
expn_drive.count()

482

In [31]:
expn_drive=df1_data.select("Pickup Location","Drop Location","Net Fare").where(col("Pickup Location")!=col("Drop Location")).orderBy(col("Net Fare").desc()) 
expn_drive.show(10)

+-----------------+----------------+--------+
|  Pickup Location|   Drop Location|Net Fare|
+-----------------+----------------+--------+
|      Fort Pierce|    Jacksonville|3345.034|
|      Fort Pierce|            Katy|  3060.0|
|          Midtown|       Ridgeland|  2613.0|
|Flatiron District|            Cary|  2389.5|
|      Fort Pierce|       Kissimmee| 2166.78|
|      East Harlem|        Florence|  1944.0|
|      Fort Pierce|         Houston|  1710.0|
|      Fort Pierce|           Latta| 1552.32|
|             Cary|Unknown Location|  1311.0|
|         Elmhurst|    Jacksonville|  1207.5|
+-----------------+----------------+--------+
only showing top 10 rows

In [32]:
expn_drive.count()

482

9.USECASE what are first 10 age groups which uses uber services mostly.

In [34]:
from pyspark.sql.functions import when
df_age=df_data.withColumn("age_group",when(col("age").between(18,25),"18-25").when(col("age").between(26,35),"26-35").when(col("age").between(36,45),"36-45").when(col("age").between(46,55),"46-55").otherwise("66+"))

In [ ]:
age_group_count=df_age.groupBy("age_group").count()
age_gro